@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  scroll-behavior: smooth;
}
.hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1523240795612-9a054b0db644");
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}
.section-padding {
  padding: 80px 0;
}
.card:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}
